.Gif{
    --gifShadow-size: var(--gridList-gap, 6px);
    margin-bottom: .5em;
    position: relative;
    width: 100%;
    display: inline-block;
}

.Gif-buttons{
    position: absolute;
    top: 30px;
    right: 0px;
    z-index: 1;
}

.Gif-link{
    color: white;
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Gif-link h5{
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 5px;
}

.Gif-link img{
    width: 100% ;
}