.Gif{
    --gifShadow-size: var(--gridList-gap, 6px);
    margin-bottom: .5em;
    position: relative;
}

.Gif-buttons{
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
}

.Gif-link{
    color: #000;
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
}

.Gif h4{
    margin: 0;
}

.Gif img{
    object-fit: contain;
}